@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu");

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #005ca8;
}

a:hover {
    color: #00cc95;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}






/*--------------------------------------------------------------
# MISC ITEMS
--------------------------------------------------------------*/

.highlight {
    color: #005ca8;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}


#topbar .contact-info a {
    line-height: 1;
    color: #444;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #428bca;
}

#topbar .contact-info i {
    color: #428bca;
    padding: 4px;
}

#topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 10px;
}

#topbar .social-links a {
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #428bca;
}


/* Desktop Navigation */

.logo img {
    height: 50px;
    width: 100px;
}


.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #5c768d;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #428bca;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #103453;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #428bca;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #1f3548;
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #e3f0fc;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #9eccf4;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa0";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #5c768d;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(31, 53, 72, 0.7);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/* HERO SECTION */
/* HERO MAIN PAGE */
#hero {
    width: 100%;
    height: 60vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 38, 43, 0.85)), to(rgba(38, 38, 43, 0.95))),url("img/1375.jpg") center center;
    background-size: cover;
    background-position: left -200px bottom 100px !important;
    position: relative;
    font-family: "Open Sans", sans-serif !important;

}
#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero #heroText p {
    font-size: 16px;
}

#hero img {
    width: 130px;
    height: 100px;
}
#hero h2 {
    font-weight: 400;
    color: #eee;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
}


.right-triangle {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 62%;
    width: 75%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("img/manufacturing.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("img/manufacturing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 1099;
  }
#hero .btn-get-started {
    position: absolute;
    width: 25%;
    height: 12%;
    bottom: 20%;
    left: 50%;
    background: #005ca8;
    border-radius: 0%;
    border: none;
    padding: 10;
    font-family: "Ubuntu";
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.5%;
    letter-spacing: .1em;
}

#hero .btn-get-started:hover {
    background: #fff;
    color: #000;
    border: 2px solid #005ca8;
}
#hero h1 {
    /* font-family: 'Crimson Text', serif !important; */
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
   
    letter-spacing: 0.5px;
    text-transform: uppercase;
}




/* HERO SOLUTIONS PAGE */
#heroSolutions {
    width: 100%;
    height: 45vh;
    background: linear-gradient(rgba(0, 7, 44, 0.8),rgba(0, 7, 44, 0.8)), url("img/nascar.jpg") center center;
    background-size: cover;
    position: relative;
}
#heroSolutions #heroText {
    padding-top: 75px;
}
#heroSolutions #heroText {
    padding-top: 75px;
}

#heroSolutions:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#heroSolutions img {
    width: 130px;
    height: 100px;
}


#heroSolutions:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#heroSolutions img {
    width: 130px;
    height: 100px;
}
#heroSolutions h1 {
    font-family: 'Crimson Text', serif !important;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#heroSolutions h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

/* HERO ROOF PAGE */

#heroRoof {
    width: 100%;
    height: 25vh;
    background: linear-gradient(rgba(0, 11, 77, 0.8),rgba(0, 11, 77, 0.8)), url("img/nascar.jpg") center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
#heroRoof #heroText {
    padding-top: auto;
}
#heroSolutions #heroText {
    padding-top: auto;
}

#heroRoof:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#heroRoof img {
    width: 130px;
    height: 100px;
}


#heroRoof:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#heroRoof img {
    width: 130px;
    height: 100px;
}
#heroRoof h1 {
    font-family: 'Crimson Text', serif !important;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#heroRoof h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    color: #eee;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;



}
/* HERO ALL PAGES */

.heroLogo img {
    width: 200px;
    height: 120px;
    padding-top: 25px;
    padding-left: 25px;

}






@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
    #heroSolutions  {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero .container {
        padding-top: 60px;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #heroSolutions  {
        height: 100vh;
    }

    #heroSolutions  .container {
        padding-top: 60px;
    }

    #heroSolutions  h1 {
        font-size: 32px;
        line-height: 36px;
    }
}

/* CASE STUDIES SECTION */

#case-studies {
    padding: 60px 0;
}

#case-studies .card {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#case-studies .card:hover {
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}

#case-studies .card hr {
    margin: 25px 0;
}

#case-studies .card .card-title {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

#case-studies .card .card-price {
    font-size: 48px;
    margin: 0;
}

#case-studies .card ul li {
    margin-bottom: 20px;
}

#case-studies .card .text-muted {
    opacity: 0.7;
}

#case-studies .card .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #005ca8;
    border: 0;
    color: #fff;
}

#case-studies .card .btn:hover {
    background-color: #005ca8;
}

#case-studies .modal input,
#case-studies .modal select {
    border-radius: 0;
}

#case-studies .modal .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #005ca8;
    border: 0;
    color: #fff;
}

#case-studies .modal .btn:hover {
    background-color: #005ca8;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal-content {
    z-index: 1100 !important;
}



/* ABOUT US SECTION */

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

#aboutHeading {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

#aboutHeading h1:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #005ca8;

}

#aboutHeading h1 {
    font-size: 48px;
}

.about .content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-right: 1%;
}

.about .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
}

.about .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #005ca8;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.counts {
    background: #005ca8;
    padding: 40px 0 20px 0;
    color: #fff;
}

.counts .counters span {
    font-size: 36px;
    display: block;
    font-weight: 700;
}

.counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* WHY US SECTION */

/* .why-us .content {
    padding: 30px;
    background: #005ca8;
    border-radius: 4px;
    color: #fff;
    margin-bottom: auto;
}

.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
} */

/* .why-us .align-items-stretch {
    margin-top: auto;
    margin-bottom: auto;
} */



/* .why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    color: #005ca8;
    background: #fff;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    transition: 0.3s;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #005ca8;
    margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

.why-us .icon-boxes .icon-box:hover {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
} */

/* CARD SECTION ON INDEX PAGE FOR SERVICES */


body {
	font-family: 'Raleway', sans-serif;
	background-color: #8186a3;
}

.contenedor {
	height: 100%;
	padding: 0 0;
}

.servIndex {
    margin: 60px auto !important;
}

.servIndex h1 {
	color: #FCFBFA;
}

.container_img {
	background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 350px;
	margin: 5px;
}

.container_img article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.container_img h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.container_img h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.container_img img {
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
	opacity: 0.4;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.More {
	background-color: #FEB66C;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.More span {
	font-size: 40px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}

#click {
    font-size: 18px;
}

/*hovers*/

.container_img:hover {
	cursor: pointer;
}

.container_img:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_img:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.container_img:hover .More {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}



/* CALL TO ACTION SECTION */

.cta {
    padding: 50px auto;
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url("img/design.jpg") fixed center center;
    background-size: cover;
    padding: 60px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #005ca8;
    border: 2px solid #005ca8;
}

/* SERVICES INFO SECTION */



.ftco-section {
    position: relative;
    width: 100%;
    display: block;
    background-color: rgb(238, 238, 238);
    padding-top: 100px;
    padding-bottom: 100px;
}

.ftco-section .nav-pills p {
    margin-bottom: 0;
}

.ftco-section .nav-pills .nav-link {
    border-radius: 0;
    margin-bottom: 0;
    color: #005ca8;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    bordeR: 1px solid #005ca8;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;


}

.ftco-section .nav-pills .nav-link.active,
.ftco-section .nav-pills .nav-link:hover {
    color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #005ca8;
    background: -moz-linear-gradient(45deg, #005ca8 0%, #005ca8 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #005ca8), color-stop(100%, #005ca8));
    background: -webkit-linear-gradient(45deg, #005ca8 0%, #005ca8 100%);
    background: -o-linear-gradient(45deg, #005ca8 0%, #005ca8 100%);
    background: -ms-linear-gradient(45deg, #005ca8 0%, #005ca8 100%);
    background: linear-gradient(45deg, #005ca8 0%, #005ca8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005ca8', endColorstr='#005ca8', GradientType=1);
    border: 1px solid transparent;
}

.ftco-section .nav-pills .nav-link.active:after,
.ftco-section .nav-pills .nav-link:hover:after {
    opacity: 1;
}

@media (max-width: 767.98px) {

    .ftco-section .nav-pills .nav-link.active:after,
    .ftco-section .nav-pills .nav-link:hover:after {
        opacity: 0;
    }
}

@media (max-width: 767.98px) {
    .ftco-section .nav-pills .nav-link {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

.ftco-section .tab-content .tab-pane h2 {
    font-size: 24px;
}

.ftco-section .tab-content .tab-pane .one-forth {
    width: 50%;
}

.ftco-section .tab-content .tab-pane .one-forth img {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
}

@media (max-width: 767.98px) {
    .ftco-section .tab-content .tab-pane .one-forth img {
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .ftco-section .tab-content .tab-pane .one-forth {
        width: 100%;
    }
}

.ftco-section .tab-content .tab-pane .one-half {
    width: 50%;
}

@media (max-width: 767.98px) {
    .ftco-section .tab-content .tab-pane .one-half {
        width: 100%;
    }
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f6f7;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #005ca8;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

.section-title-no {
    padding-bottom: 20px;
}


.section-title-no h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.section-title-no h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 3px;
    background: #005ca8;
    bottom: 0;
    left: 0;
}

.section-title-no p {
    margin-bottom: 0;
}


/* CONTACT US */

#contact {
    margin-top: 140px;
}

.contact .info {
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact .info i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background: #005ca8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #36343a;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686470;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #005ca8;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #00805d;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f0f2;
    padding: 10px 0 30px 0;
    margin-top: 30px;
    background: #f9f8f9;
}



/*--------------------------------------------------------------
# ABOUT US PAGE
--------------------------------------------------------------*/

#about-heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #005ca8;
}

#about-heading h1::after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background: #005ca8;
    
}

.MainCont {
    margin-right: 0;
    margin-left: 0;

}

.MainCont .container {
    margin-top: auto;
    text-align: center;
}

#chipImg img{
    height: 80%;
    width: 80%;
    text-align: center;
    padding-right: 15px;
}
#chipImg {
    text-align: center;
}

.aboutSect p {
    line-height: 2rem;
}



/*--------------------------------------------------------------
# Full Services PAGE
--------------------------------------------------------------*/
.between .row {
    margin-top: 175px;
}

.between img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#right img {
    text-align: right;
}

#left img {
    text-align: left;
}